@import '../colors';

.dish {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px $light-grey;
  min-height: 200px;
}

.delete-dish-button {
  margin-left: 10px;
}

.button.is-round {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.vote-buttons {
  display: flex;

  .control {
    margin: 0 5px;
  }
}

.dish-title {
  display: flex;
}

@media screen and (max-width: 700px) {
  .dish {
    flex-direction: column;
  }
}