@import '../colors';

.session-users {
  display: flex;
  width: 100%;

  .user {
    border: solid 1px $light-grey;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    &:hover {
      border-color: black;
    }

    p {
      line-height: 40px;
      text-align: center;
    }

  }

  .user.is-active {
    border-color: $orange;
    color: $orange;
  }
}

.addDish {
  .has-icons-left {
    width: 100%;
  }
  .input:active {
    border: solid 1px $orange;
  }
}